<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registro de Usuario</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: "#170022",
                        secondary: "#290043",
                        lightBg: "#e8ebff",
                        lightSurface: "rgb(247,248,249)",
                        darkText: "#1e293b",
                        softText: "#475569",
                        borderLight: "#e2e8f0",
                    },
                },
            },
        };
    </script>
    <style> body {font-family: 'Poppins', sans-serif;} </style>
</head>

<body class="h-screen bg-[url('/img/gato-registro.jpg')] ">

<!-- CONTENEDOR PRINCIPAL -->

<div class=" flex flex-col items-center justify-center p-6">
    <div class="bg-white  shadow-lg -xl p-8">
        <div class="flex flex-col items-center space-y-6">
            <img src="/img/logo.png" alt="logo" style="width:100px;">
            <h1 class="text-3xl font-bold text-primary">Registro de Usuario</h1>

    <form th:action="@{/registro}" method="post" th:object="${registro}">

        <!-- Usuario -->
        <div class="mb-4">
            <label for="usuario" class="block font-semibold mb-1">Usuario</label>
            <input type="text" id="usuario" th:field="*{usuario}"
                   class="w-full border -lg px-3 py-2 focus:ring focus:ring-blue-300"
                   required>
        </div>

        <!-- Contraseña -->
        <div class="mb-4">
            <label for="contrasena" class="block font-semibold mb-1">Contraseña</label>
            <input type="password" id="contrasena" th:field="*{contrasena}"
                   class="w-full border -lg px-3 py-2 focus:ring focus:ring-blue-300"
                   required>
        </div>

        <!-- Rol -->
        <div class="mb-4">
            <label for="rol" class="block font-semibold mb-1">Selecciona tu rol:</label>
            <select th:field="*{rol}" id="rol"
                    class="w-full border -lg px-3 py-2 focus:ring focus:ring-blue-300"
                    required onchange="mostrarCamposAdicionales()">
                <option value="">-- Selecciona --</option>
                <option value="propietario">Propietario</option>
                <option value="veterinario">Veterinario</option>
                <option value="fundacion">Fundación</option>
            </select>
        </div>

        <!-- CAMPOS PROPIETARIO -->
        <div id="camposPropietario" class="hidden">
            <h3 class="text-lg font-semibold mb-2 mt-3">Datos del Propietario</h3>

            <div class="grid grid-cols-1 gap-4">

                <div>
                    <label class="font-semibold">Número de Documento</label>
                    <input type="text" th:field="*{numDoc}"
                           class="w-full border -lg px-3 py-2">
                </div>

                <div>
                    <label class="font-semibold">Nombre Propietario</label>
                    <input type="text" th:field="*{nombrePro}"
                           class="w-full border -lg px-3 py-2">
                </div>

                <div>
                    <label class="font-semibold">Apellido Propietario</label>
                    <input type="text" th:field="*{apellidoPro}"
                           class="w-full border -lg px-3 py-2">
                </div>

                <div>
                    <label class="font-semibold">Dirección</label>
                    <input type="text" th:field="*{direccionPro}"
                           class="w-full border -lg px-3 py-2">
                </div>

                <div>
                    <label class="font-semibold">Teléfono</label>
                    <input type="text" th:field="*{telefonoPro}"
                           class="w-full border -lg px-3 py-2">
                </div>

                <div>
                    <label class="font-semibold">Correo</label>
                    <input type="email" th:field="*{correoPro}"
                           class="w-full border -lg px-3 py-2">
                </div>

                <div>
                    <label for="idVeterinariaSeleccionada" class="font-semibold">Veterinaria para la Tienda</label>
                    <select th:field="*{idVeterinariaSeleccionada}" id="idVeterinariaSeleccionada"
                            class="w-full border -lg px-3 py-2" >
                        <option value="">-- Selecciona una Veterinaria --</option>
                        <option th:each="veterinaria : ${veterinarias}"
                                th:value="${veterinaria.id}"
                                th:text="${veterinaria.nombre}">
                            Nombre de Veterinaria
                        </option>
                    </select>
                </div>

            </div>
        </div>

        <!-- CAMPOS VETERINARIO -->
        <div id="camposVeterinario" class="hidden">
            <h3 class="text-lg font-semibold mb-2 mt-3">Datos del Veterinario</h3>

            <div class="grid grid-cols-1 gap-4">

                <div>
                    <label class="font-semibold">Número de Licencia Profesional</label>
                    <input type="text" th:field="*{numLicencia}"
                           class="w-full border -lg px-3 py-2">
                </div>

                <div>
                    <label class="font-semibold">Nombre Veterinario</label>
                    <input type="text" th:field="*{nombreVete}"
                           class="w-full border -lg px-3 py-2">
                </div>

                <div>
                    <label class="font-semibold">Apellido Veterinario</label>
                    <input type="text" th:field="*{apellidoVete}"
                           class="w-full border -lg px-3 py-2">
                </div>

                <div>
                    <label class="font-semibold">Dirección</label>
                    <input type="text" th:field="*{direccionVete}"
                           class="w-full border -lg px-3 py-2">
                </div>

                <div>
                    <label class="font-semibold">Teléfono</label>
                    <input type="text" th:field="*{telefonoVete}"
                           class="w-full border -lg px-3 py-2">
                </div>

                <div>
                    <label class="font-semibold">Correo</label>
                    <input type="email" th:field="*{correoVete}"
                           class="w-full border -lg px-3 py-2">
                </div>

            </div>
        </div>

        <!-- CAMPOS FUNDACION -->
        <div id="camposFundacion" class="hidden">
            <h3 class="text-lg font-semibold mb-2 mt-3">Datos de la Fundación</h3>

            <div class="grid grid-cols-1 gap-4">

                <div>
                    <label class="font-semibold">Nombre Fundación</label>
                    <input type="text" th:field="*{nombreFundacion}"
                           class="w-full border -lg px-3 py-2">
                </div>

                <div>
                    <label class="font-semibold">Descripción</label>
                    <input type="text" th:field="*{descripcionFundacion}"
                           class="w-full border -lg px-3 py-2">
                </div>

                <div>
                    <label class="font-semibold">Dirección</label>
                    <input type="text" th:field="*{direccionFundacion}"
                           class="w-full border -lg px-3 py-2">
                </div>

                <div>
                    <label class="font-semibold">Teléfono</label>
                    <input type="text" th:field="*{telefonoFundacion}"
                           class="w-full border -lg px-3 py-2">
                </div>

                <div>
                    <label class="font-semibold">Correo</label>
                    <input type="email" th:field="*{emailFundacion}"
                           class="w-full border -lg px-3 py-2">
                </div>

            </div>
        </div>

        <!-- BOTÓN -->
        <button type="submit"
                class=" w-full text-center font-bold mt-8 bg-primary text-white px-6 py-3 -md transition-all duration-300 ease-in-out hover:scale-105 hover:bg-white hover:text-black">
            Registrarse
        </button>
    </form>
        </div>
    </div>
</div>
<!-- SCRIPTS -->
<script>
    function mostrarCamposAdicionales() {
        const rol = document.getElementById("rol").value;
        const camposProp = document.getElementById("camposPropietario");
        const camposVet = document.getElementById("camposVeterinario");
        const camposFun = document.getElementById("camposFundacion");

        camposProp.classList.add("hidden");
        camposVet.classList.add("hidden");
        camposFun.classList.add("hidden");

        document.querySelectorAll("#camposPropietario input, #camposVeterinario input, #camposFundacion input")
            .forEach(input => input.removeAttribute("required"));

        if (rol === "propietario") {
            camposProp.classList.remove("hidden");
            camposProp.querySelectorAll("input").forEach(i => i.setAttribute("required", true));
        } else if (rol === "veterinario") {
            camposVet.classList.remove("hidden");
            camposVet.querySelectorAll("input").forEach(i => i.setAttribute("required", true));
        } else if (rol === "fundacion") {
            camposFun.classList.remove("hidden");
            camposFun.querySelectorAll("input").forEach(i => i.setAttribute("required", true));
        }
    }

    window.onload = mostrarCamposAdicionales;
</script>



</body>
</html>
