<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        tailwind.config = {
            darkMode: "class",
            theme: {
                extend: {
                    colors: {
                        primary: "#170022",
                        "background-light": "#F3E8FF",
                        "background-dark": "#18181B",
                    },
                    fontFamily: {
                        display: ["Poppins", "sans-serif"],
                    },
                    borderRadius: {
                        DEFAULT: "0.5rem",
                    },
                },
            },
        };
    </script>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>

<body>

<a th:href="@{/inicio}" class="fixed top-4 left-4 z-50">
    <div class="w-12 h-12 rounded-full text-primary bg-white shadow-lg flex items-center justify-center
                transition-all duration-300 hover:scale-110 hover:bg-primary group hover:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
             viewBox="0 0 24 24" fill="none" stroke="currentColor"
             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="lucide lucide-house-icon lucide-house">
            <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/>
            <path d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
        </svg>
    </div>
</a>
<!-- ===== CONTENEDOR PADRE CON FONDO ===== -->
<div class="min-h-screen bg-[url('/img/gato-registro.jpg')] bg-cover bg-center flex items-center justify-center ">

    <!-- ===== FORMULARIO (HIJO) ===== -->
    <div class="flex flex-col  w-full max-w-md bg-white justify-center items-center p-6">

        <!-- LOGO -->
        <img src="/img/logo.png" style="width:120px;" class="w-20 mb-4" alt="Logo">

        <h1 class="text-2xl font-extrabold text-primary mb-1">
            Crear cuenta
        </h1>

        <p class="text-gray-500 mb-5 text-md">
            Regístrate como veterinario o fundación.
        </p>

        <form th:action="@{/registro}" method="post" th:object="${registro}">
            <input type="hidden" th:field="*{rol}" id="rol">

            <!-- USUARIO -->
            <div class="mb-3">
                <label class="block text-sm font-medium text-zinc-700 dark:text-zinc-300 mb-1">
                    Usuario
                </label>
                <input type="text" th:field="*{usuario}"
                       class="w-full border px-3 py-2 "
                       placeholder="Tu nombre de usuario"
                       required />
            </div>

            <!-- CONTRASEÑA -->
            <div class="mb-4">
                <label class="block text-sm font-medium text-zinc-700 dark:text-zinc-300 mb-1">
                    Contraseña
                </label>
                <div class="relative">
                <input type="password" th:field="*{contrasena}"
                       class="w-full border px-3 py-2"
                       placeholder="Tu contraseña"
                       required />
                <button type="button"
                        onclick="togglePassword()"
                        class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 hover:text-primary transition">
                    <!-- OJO ABIERTO -->
                    <svg id="iconEyeOpen"
                         xmlns="http://www.w3.org/2000/svg"
                         class="w-5 h-5"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke="currentColor"
                         stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8S1 12 1 12z"/>
                        <circle cx="12" cy="12" r="3"/>
                    </svg>

                    <!-- OJO CERRADO -->
                    <svg id="iconEyeClosed"
                         xmlns="http://www.w3.org/2000/svg"
                         class="w-5 h-5 hidden"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke="currentColor"
                         stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M17.94 17.94A10.94 10.94 0 0112 20C5 20 1 12 1 12a21.86 21.86 0 015.06-6.94M9.9 4.24A10.94 10.94 0 0112 4c7 0 11 8 11 8a21.82 21.82 0 01-2.16 3.19M1 1l22 22"/>
                    </svg>
                </button>
            </div>
            </div>

            <!-- TABS -->
            <div class="flex mb-4 justify-center border-b text-sm">
                <button type="button" id="tabVet"
                        onclick="mostrarTab('veterinario')"
                        class="px-3 py-2 font-semibold border-b-2 border-primary text-primary">
                    Veterinario
                </button>

                <button type="button" id="tabFun"
                        onclick="mostrarTab('fundacion')"
                        class="px-3 py-2 font-semibold border-b-2 border-primary text-primary">
                    Fundación
                </button>
            </div>

            <!-- VETERINARIO -->
            <div id="camposVeterinario" class="grid grid-cols-2 gap-3 text-sm">

                <div>
                    <label class="block text-sm font-medium text-zinc-700 dark:text-zinc-300 mb-1">N° Licencia</label>
                    <input type="text" th:field="*{numLicencia}"
                           placeholder="Tu Numero de Licencia"
                           class="w-full px-6 py-3 bg-zinc-50 dark:bg-zinc-800 border border-zinc-300 dark:border-zinc-700 focus:ring-primary focus:border-primary text-zinc-900 dark:text-zinc-100 placeholder-zinc-400 dark:placeholder-zinc-500">
                </div>

                <div>
                    <label class="block text-sm font-medium text-zinc-700 dark:text-zinc-300 mb-1">Teléfono</label>
                    <input type="text" th:field="*{telefonoVete}"
                           placeholder="Tu telefono"
                           class="w-full px-6 py-3 bg-zinc-50 dark:bg-zinc-800 border border-zinc-300 dark:border-zinc-700 focus:ring-primary focus:border-primary text-zinc-900 dark:text-zinc-100 placeholder-zinc-400 dark:placeholder-zinc-500">
                </div>

                <div>
                    <label class="block text-sm font-medium text-zinc-700 dark:text-zinc-300 mb-1">Nombre</label>
                    <input type="text" th:field="*{nombreVete}"
                           placeholder="Tu nombre"
                           class="w-full px-6 py-3 bg-zinc-50 dark:bg-zinc-800 border border-zinc-300 dark:border-zinc-700 focus:ring-primary focus:border-primary text-zinc-900 dark:text-zinc-100 placeholder-zinc-400 dark:placeholder-zinc-500">
                </div>

                <div>
                    <label class="block text-sm font-medium text-zinc-700 dark:text-zinc-300 mb-1">Apellido</label>
                    <input type="text" th:field="*{apellidoVete}"
                           placeholder="Tu apellido"
                           class="w-full px-6 py-3 bg-zinc-50 dark:bg-zinc-800 border border-zinc-300 dark:border-zinc-700 focus:ring-primary focus:border-primary text-zinc-900 dark:text-zinc-100 placeholder-zinc-400 dark:placeholder-zinc-500">
                </div>

                <div >
                    <label class="block text-sm font-medium text-zinc-700 dark:text-zinc-300 mb-1">Direccion</label>
                    <input type="text" th:field="*{direccionVete}"
                           placeholder="Direccion de tu consultorio"
                           class="w-full px-6 py-3 bg-zinc-50 dark:bg-zinc-800 border border-zinc-300 dark:border-zinc-700 focus:ring-primary focus:border-primary text-zinc-900 dark:text-zinc-100 placeholder-zinc-400 dark:placeholder-zinc-500">
                </div>

                <div >
                    <label class="block text-sm font-medium text-zinc-700 dark:text-zinc-300 mb-1">Correo</label>
                    <input type="email" th:field="*{correoVete}"
                           placeholder="Tu correo"
                           class="w-full px-6 py-3 bg-zinc-50 dark:bg-zinc-800 border border-zinc-300 dark:border-zinc-700 focus:ring-primary focus:border-primary text-zinc-900 dark:text-zinc-100 placeholder-zinc-400 dark:placeholder-zinc-500">
                </div>
            </div>

            <!-- FUNDACIÓN -->
            <div id="camposFundacion" class="hidden grid grid-cols-2 gap-3 text-sm">

                <div class="col-span-2" >
                    <label class="block text-sm font-medium text-zinc-700 dark:text-zinc-300 mb-1">Nombre Fundación</label>
                    <input type="text" th:field="*{nombreFundacion}"
                           placeholder="El nombre de tu fundacion"
                           class="w-full px-6 py-3 bg-zinc-50 dark:bg-zinc-800 border border-zinc-300 dark:border-zinc-700 focus:ring-primary focus:border-primary text-zinc-900 dark:text-zinc-100 placeholder-zinc-400 dark:placeholder-zinc-500">
                </div>

                <div>
                    <label class="block text-sm font-medium text-zinc-700 dark:text-zinc-300 mb-1">Teléfono</label>
                    <input type="text" th:field="*{telefonoFundacion}"
                           placeholder="El telefono de tu fundacion"
                           class="w-full px-6 py-3 bg-zinc-50 dark:bg-zinc-800 border border-zinc-300 dark:border-zinc-700 focus:ring-primary focus:border-primary text-zinc-900 dark:text-zinc-100 placeholder-zinc-400 dark:placeholder-zinc-500">
                </div>

                <div >
                    <label class="block text-sm font-medium text-zinc-700 dark:text-zinc-300 mb-1">Direccion</label>
                    <input type="text" th:field="*{direccionFundacion}"
                           placeholder="La direccion de tu fundacion"
                           class="w-full px-6 py-3 bg-zinc-50 dark:bg-zinc-800 border border-zinc-300 dark:border-zinc-700 focus:ring-primary focus:border-primary text-zinc-900 dark:text-zinc-100 placeholder-zinc-400 dark:placeholder-zinc-500">
                </div>
                <div class="col-span-2">
                    <label class="block text-sm font-medium text-zinc-700 dark:text-zinc-300 mb-1">Correo</label>
                    <input type="email" th:field="*{emailFundacion}"
                       placeholder="El correo de tu fundacion"
                       pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                       title="Ingresa un correo válido (ej: usuario@correo.com)"
                       class="w-full px-6 py-3 bg-zinc-50 dark:bg-zinc-800 border border-zinc-300 dark:border-zinc-700 focus:ring-primary focus:border-primary text-zinc-900 dark:text-zinc-100 placeholder-zinc-400 dark:placeholder-zinc-500">
                </div>
            </div>

            <!-- BOTÓN -->
            <button type="submit"
                    class=" w-full text-center font-bold mt-3 bg-primary text-white px-6 py-3 -md transition-all duration-300 ease-in-out hover:scale-105 hover:bg-white hover:text-black">
                Registrarse
            </button>

        </form>
    </div>
</div>

<!-- ===== JS ===== -->
<script>
    function mostrarTab(rol) {
        const vet = document.getElementById("camposVeterinario");
        const fun = document.getElementById("camposFundacion");
        const tabVet = document.getElementById("tabVet");
        const tabFun = document.getElementById("tabFun");

        document.getElementById("rol").value = rol;

        vet.classList.add("hidden");
        fun.classList.add("hidden");

        tabVet.classList.remove("border-primary", "text-primary");
        tabFun.classList.remove("border-primary", "text-primary");

        if (rol === "veterinario") {
            vet.classList.remove("hidden");
            tabVet.classList.add("border-primary", "text-primary");
        } else {
            fun.classList.remove("hidden");
            tabFun.classList.add("border-primary", "text-primary");
        }
    }

    window.onload = () => mostrarTab("veterinario");
</script>
<script>
    function togglePassword() {
        const input = document.getElementById("contrasena");
        const openIcon = document.getElementById("iconEyeOpen");
        const closedIcon = document.getElementById("iconEyeClosed");

        if (input.type === "password") {
            input.type = "text";
            openIcon.classList.add("hidden");
            closedIcon.classList.remove("hidden");
        } else {
            input.type = "password";
            openIcon.classList.remove("hidden");
            closedIcon.classList.add("hidden");
        }
    }
</script>

</body>
</html>