<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="/static/css/FundacionCss/stilos.css">
    <title>Fundación</title>
</head>
<body>

<a href="/fundaciones/listar"> Volver</a>

<div class="detalle">
    <img th:src="${fundacion.logo}" width="200">
    <h1 th:text="${fundacion.nombre}"></h1>
    <p th:text="${fundacion.descripcion}"></p>
    <p><b>Dirección:</b> <span th:text="${fundacion.direccion}"></span></p>
    <p><b>Teléfono:</b> <span th:text="${fundacion.telefono}"></span></p>
    <p><b>Email:</b> <span th:text="${fundacion.email}"></span></p>
</div>

<!-- seccionde mascotas disponmibles para la fundacion-->


<h2>Mascotas disponibles</h2>

<!-- botn para ver/crud de mascotas -->
<a class="btn" th:href="@{'/fundaciones/' + ${fundacion.id} + '/mascotas'}">
    Ver/Administrar Mascotas
</a>


<!-- Si no hay mascotas -->
<div th:if="${fundacion.mascotas == null || #lists.isEmpty(fundacion.mascotas)}">
    <p>No tiene mascotas registradas.</p>
</div>

<!-- Si hay mascotas -->
<div class="grid" th:if="${fundacion.mascotas != null and !#lists.isEmpty(fundacion.mascotas)}">

    <div class="card" th:each="m : ${fundacion.mascotas}">
        <img th:src="@{'/img/' + ${m.foto}}" alt="foto mascota" width="150">
        <h3 th:text="${m.nomMascota}"></h3>
        <p>
            <span th:text="${m.especie}"></span> -
            <span th:text="${m.raza}"></span>
        </p>
    </div>

</div>

</body>
</html>
