<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nueva Veterinaria</title>
</head>
<body>

<form th:action="@{/veterinario/CrearVeterinaria(idVeterinario=${id})}" method="post" th:object="${veterinaria}">


    <label>Nombre de la veterinaria:</label>
    <input type="text" th:field="*{nombre}" required />

    <label>Correo:</label>
    <input type="email" th:field="*{correo}" required />

    <label>Teléfono:</label>
    <input type="text" th:field="*{telefono}" required />

    <label>Dirección:</label>
    <input type="text" th:field="*{direccion}" required />

    <button type="submit">Registrar Veterinaria</button>
</form>

</body>
</html>
