<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Propietario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <!-- Bootstrap CSS -->
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: "#170022",
                        secondary: "#170022",
                        lightBg: "rgb(241,231,253)",
                        lightSurface: "#f7f8f9",
                        darkText: "#1e293b",
                        softText: "#475569",
                        borderLight: "#e2e8f0",
                    },
                },
            },
        };
    </script>

    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }

        .tab-active {
            border-bottom: 3px solid #170022;
        }

        .tab-btn {
            transition: all 0.2s ease-in-out;
        }
    </style>
</head>
<body class="bg-lightBg text-darkText min-h-screen flex flex-col">
<header class="bg-secondary text-white flex justify-between items-center px-6 py-3 shadow-md">
    <div class="flex items-center space-x-3">
        <img src="/img/logo.png" alt="Logo" class="w-8 h-8">
        <h1 class="text-lg font-bold">Cannia</h1>
    </div>
    <a th:href="@{/veterinario}"><button class="text-sm hover:font-bold">Inicio</button></a>
</header>
<main class=" fixed inset-0  flex mt-8 items-center justify-center z-50">
    <div class="bg-lightSurface w-full max-w-md  shadow-lg p-6 relative">
    <!-- Formulario -->
    <form  th:action="@{/veterinario/editar/{id}(id=${propietario.id})}"
          method="post"
          th:object="${propietario}"
           class="space-y-4">

        <div>
            <label class="block text-sm font-semibold text-softText">Número de Documento</label>
            <input type="text" th:field="*{numDoc}" class="w-full border border-borderLight rounded-md px-3 py-2 " readonly>
        </div>
        <div>
            <label class="block text-sm font-semibold text-softText">Nombre</label>
            <input type="text" th:field="*{nombrePro}" class="w-full border border-borderLight rounded-md px-3 py-2 ">
        </div>
        <div>
            <label class="block text-sm font-semibold text-softText">Apellido</label>
            <input type="text" th:field="*{apellidoPro}" class="w-full border border-borderLight rounded-md px-3 py-2 ">
        </div>
        <div>
            <label class="block text-sm font-semibold text-softText">Dirección</label>
            <input type="text" th:field="*{direccionPro}" class="w-full border border-borderLight rounded-md px-3 py-2 ">
        </div>
        <div>
            <label class="block text-sm font-semibold text-softText">Teléfono</label>
            <input type="text" th:field="*{telefonoPro}" class="w-full border border-borderLight rounded-md px-3 py-2 ">
        </div>
        <div>
            <label class="block text-sm font-semibold text-softText">Correo</label>
            <input type="email" th:field="*{correoPro}" class="w-full border border-borderLight rounded-md px-3 py-2 ">
        </div>

        <div class="flex justify-end space-x-3 pt-4">
            <a th:href="@{/veterinario}" class="bg-secondary text-white px-1  rounded-2-xl hover:bg-lightSurface hover:shadow-xl hover:text-primary font-bold transition">Cancelar</a>
            <button onclick="alert('Cambios guardados con éxito')" type="submit" class="bg-secondary text-white px-4 py-2 rounded-md hover:bg-lightSurface hover:shadow-xl hover:text-primary font-bold transition">Guardar cambios</button>
        </div>
    </form>
</div>

</main>
</body>
</html>
