<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinario</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/dist/output.css}" rel="stylesheet">
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: "#350159",
                        secondary: "#170022",
                        lightBg: "#e8ebff",
                        lightSurface: "rgb(247,248,249)",
                        darkText: "#1e293b",
                        softText: "#475569",
                        borderLight: "#e2e8f0",
                    },
                },
            },
        };
    </script>

    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }

        .tab-active {
            border-bottom: 3px solid #170022;
        }

        .tab-btn {
            transition: all 0.2s ease-in-out;
        }
    </style>
</head>

<body class="bg-lightBg text-darkText h-screen overflow-x-hidden">
<div class="h-full flex">
    <div class="flex flex-1  relative">
        <!-- SIDEBAR -->
        <aside id="sidebar" class="bg-secondary text-white  transition-all duration-300 h-full flex flex-col justify-between ">
            <div>
                <!-- Header + botón -->
        <div class="flex items-center justify-between p-3">
            <span class="text-xl font-bold whitespace-nowrap hidden sidebar-text">Menu</span>
            <button onclick="toggleSidebar()"
                    class="text-white group relative">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="lucide lucide-circle-chevron-right-icon lucide-circle-chevron-right"><circle cx="12" cy="12" r="10"/>
                    <path d="m10 8 4 4-4 4"/>
                </svg>
                <span class="pointer-events-none absolute left-full ml-2  bg-black px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100 whitespace-nowrap z-50">
                    Menu
                </span>
            </button>
        </div>
        <!-- Vista historia clinica -->
        <nav class="flex flex-col gap-1 mt-4">
            <a th:href="@{/veterinario/HistoriaClinica}"
               class="  group relative flex items-center gap-3 px-3 text-white py-1 hover:bg-primary ">
                <i class="fa-solid fa-house">
                    <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" class="  lucide lucide-paw-print-icon lucide-paw-print">
                        <circle cx="11" cy="4" r="2"/><circle cx="18" cy="8" r="2"/><circle cx="20" cy="16" r="2"/>
                        <path d="M9 10a5 5 0 0 1 5 5v3.5a3.5 3.5 0 0 1-6.84 1.045Q6.52 17.48 4.46 16.84A3.5 3.5 0 0 1 5.5 10Z"/>
                    </svg>
                </i>
                <span class="sidebar-text hidden">Mascotas</span>
                <span class="pointer-events-none absolute left-full ml-2  bg-black px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100 whitespace-nowrap z-50">
                    Mascotas
                </span>
            </a>

            <a th:href="@{/veterinario/miVeterinaria/{id}(id=${veterinario.id})}"
               class="group relative flex text-white items-center gap-3 px-3 py-1 hover:bg-primary ">
                <i class="fa-solid fa-user">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-package-open-icon lucide-package-open">
                        <path d="M12 22v-9"/>
                        <path d="M15.17 2.21a1.67 1.67 0 0 1 1.63 0L21 4.57a1.93 1.93 0 0 1 0 3.36L8.82 14.79a1.655 1.655 0 0 1-1.64 0L3 12.43a1.93 1.93 0 0 1 0-3.36z"/>
                        <path d="M20 13v3.87a2.06 2.06 0 0 1-1.11 1.83l-6 3.08a1.93 1.93 0 0 1-1.78 0l-6-3.08A2.06 2.06 0 0 1 4 16.87V13"/>
                        <path d="M21 12.43a1.93 1.93 0 0 0 0-3.36L8.83 2.2a1.64 1.64 0 0 0-1.63 0L3 4.57a1.93 1.93 0 0 0 0 3.36l12.18 6.86a1.636 1.636 0 0 0 1.63 0z"/></svg></i>
                <span class="sidebar-text hidden">Veterinaria</span>
                <span class="pointer-events-none absolute left-full ml-2  bg-black px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100 whitespace-nowrap z-50">
                    Veterinaria
                </span>
            </a>
        </nav>
    </div>
    <!-- Bloque inferior (2 items) -->
    <div class="mb-6">
        <nav class="flex flex-col gap-4">
            <a th:href="@{/cerrar-sesion}"
               class=" group relative flex items-center text-white gap-3 px-3 py-1 hover:bg-primary ">
                <i class="fa-solid fa-circle-info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                         stroke-linejoin="round" class="lucide lucide-log-out-icon lucide-log-out">
                        <path d="m16 17 5-5-5-5"/>
                        <path d="M21 12H9"/>
                        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/>
                    </svg>
                </i>
                <span class="sidebar-text hidden">Cerrar Sesion</span>
                <span class="pointer-events-none absolute left-full ml-2  bg-black px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100 whitespace-nowrap z-50">
                    Cerrar Sesion
                </span>
            </a>
        </nav>
    </div>
</aside>

        <div class="flex flex-col flex-1 min-h-full transition-all duration-300">
            <!-- Header -->
            <header class="bg-secondary text-white flex justify-between items-center px-2 py-1 shadow-md overflow-visible">
                <div class="flex items-center space-x-3">
                    <img src="/img/logo.png" alt="Logo" class="w-10 h-10">
                </div>
                <div>
                    <h1 class="text-2xl font-bold">Bienvenido a Cannia   <span th:text="${veterinario.nombreVete}" ></span>  <span th:text="${veterinario.apellidoVete}" ></span> </h1>
                </div>
                <div class="flex items-center space-x-3 gap-8">
<!--                    <a th:href="@{/veterinario}">-->
<!--                        <button class="text-sm hover:font-bold">-->
<!--                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"-->
<!--                                 viewBox="0 0 24 24" fill="none" stroke="currentColor"-->
<!--                                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round"-->
<!--                                 class="lucide lucide-house-icon lucide-house">-->
<!--                                <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/>-->
<!--                                <path d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>-->
<!--                            </svg>-->
<!--                        </button>-->
<!--                    </a>-->
                </div>
            </header>
            <!-- CONTENIDO PRINCIPAL -->
            <main class=" ml-32 flex-grow mx-auto  px-6 py-8 mr-32" >
                <section id="tab-admin" class="tab-content">
                    <div class="items-center ">
                        <div class="flex justify-between items-center mb-6">
                            <div>
                                <h1 class="text-3xl text-center font-bold text-gray-700">
                                    Directorio de Propietarios
                                </h1>
                            </div>
                            <div>
                                <button class="bg-white p-2 shadow-xl  transform hover:scale-105 mx-8 text-center hover:shadow-2xl hover:bg-gray-50 transition-all duration-300 flex items-center gap-2">
                                    <img src="/img/new-user.png" alt="" class="w-8 h-8">Agregar Propietario
                                </button>
                            </div>
                        </div>
                        <div class="bg-lightSurface w-full p-3 shadow-xl border border-borderLight  overflow-x-hidden ">
                            <!-- MENSAJE CUANDO NO HAY PROPIETARIOS -->
                            <h1 th:if="${#lists.isEmpty(propietarios)}"
                                class="text-center text-2xl text-gray-500 py-8">
                                Aún no has registrado propietarios
                            </h1>
                            <table th:if="${!#lists.isEmpty(propietarios)}"
                                   class="w-full text-center justify-center relative text-sm">
                                <thead class="bg-gray-100 text-softText text-center uppercase text-xs">
                                <tr>
                                    <th class="px-4 py-3">Nombre</th>
                                    <th class="px-4 py-3">Correo</th>
                                    <th class="px-4 py-3">Teléfono</th>
                                    <th class="px-1 py-0.5">Opciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="prop : ${propietarios}"
                                class="border-t border-borderLight hover:bg-gray-100 transition h-10">
                                    <td th:text="${prop.nombrePro + ' ' + prop.apellidoPro}" class="px-4 py-3"></td>
                                    <td th:text="${prop.correoPro}" class="px-4 py-3"></td>
                                    <td th:text="${prop.telefonoPro}" class="px-4 py-3"></td>
                                    <td class="px-1 py-0.5 overflow-visible align-middle">
                                        <div class="flex items-center justify-center gap-3">
                                            <a th:href="@{/veterinario/actualizar/{id}(id=${prop.id})}">
                                                <button class=" relative group py-1 transform hover:scale-105 text-sm text-primary transition">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         width="24"
                                                         height="24"
                                                         viewBox="0 0 24 24"
                                                         fill="none"
                                                         stroke="currentColor"
                                                         stroke-width="2"
                                                         stroke-linecap="round"
                                                         stroke-linejoin="round"
                                                         class="lucide lucide-square-pen-icon lucide-square-pen">
                                                        <path d="M12 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/>
                                                        <path d="M18.375 2.625a1 1 0 0 1 3 3l-9.013 9.014a2 2 0 0 1-.853.505l-2.873.84a.5.5 0 0 1-.62-.62l.84-2.873a2 2 0 0 1 .506-.852z"/>
                                                    </svg>
                                                    <span class="pointer-events-none absolute bottom-full mb-2 left-1/2 -translate-x-1/2 scale-0 group-hover:scale-100 transition-all duration-200 bg-black text-white text-xs px-2 py-1  whitespace-nowrap z-50">
                                                        Editar
                                                    </span>
                                                </button>
                                            </a>
                                            <form method="post"
                                                  th:action="@{/veterinario/borrar/{id}(id=${prop.id})}">
                                                <button onclick="return confirm('¿Desea Eliminar?')"
                                                        class=" relative group py-1 xt-sm text-primary font-bolt transform hover:scale-105 transition">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         width="24" height="24"
                                                         viewBox="0 0 24 24"
                                                         fill="none"
                                                         stroke="currentColor"
                                                         stroke-width="2"
                                                         stroke-linecap="round"
                                                         stroke-linejoin="round"
                                                         class="lucide lucide-trash2-icon lucide-trash-2">
                                                        <path d="M10 11v6"/>
                                                        <path d="M14 11v6"/>
                                                        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6"/>
                                                        <path d="M3 6h18"/>
                                                        <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/>
                                                    </svg>
                                                    <span class="pointer-events-none absolute bottom-full mb-2 left-1/2 -translate-x-1/2 scale-0 group-hover:scale-100 transition-all duration-200 bg-black text-white text-xs px-2 py-1  whitespace-nowrap z-50">
                                                        Eliminar
                                                    </span>
                                                </button>
                                            </form>
                                            <button type="button"
                                                    class=" relative group transform hover:scale-105  py-1 xt-sm text-primary transition"
                                                    th:onclick="'abrirModalMascota(' + ${prop.id} + ')'">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     width="24"
                                                     height="24"
                                                     viewBox="0 0 24 24"
                                                     fill="none"
                                                     stroke="currentColor"
                                                     stroke-width="2"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     class="lucide lucide-heart-plus-icon lucide-heart-plus">
                                                    <path d="m14.479 19.374-.971.939a2 2 0 0 1-3 .019L5 15c-1.5-1.5-3-3.2-3-5.5a5.5 5.5 0 0 1 9.591-3.676.56.56 0 0 0 .818 0A5.49 5.49 0 0 1 22 9.5a5.2 5.2 0 0 1-.219 1.49"/>
                                                    <path d="M15 15h6"/>
                                                    <path d="M18 12v6"/>
                                                </svg>
                                                <span class="pointer-events-none absolute bottom-full mb-2 left-1/2 -translate-x-1/2 scale-0 group-hover:scale-100 transition-all duration-200 bg-black text-white text-xs px-2 py-1  whitespace-nowrap z-50">
                                                    Añadir mascota
                                                </span>
                                            </button>

                                            <form method="post"
                                                  th:if="${!prop.cuentaCreada
                                                  and codigoGenerado == null
                                                  and errorCodigo == null}"
                                                  th:action="@{/veterinario/generarCodigo/{id}(id=${prop.id})}">
                                                <button class=" relative group transform hover:scale-105  py-1 xt-sm text-primary font-bolt transition">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         width="24"
                                                         height="24"
                                                         viewBox="0 0 24 24"
                                                         fill="none"
                                                         stroke="currentColor"
                                                         stroke-width="2"
                                                         stroke-linecap="round"
                                                         stroke-linejoin="round"
                                                         class="lucide lucide-message-square-diff-icon lucide-message-square-diff">
                                                        <path d="M22 17a2 2 0 0 1-2 2H6.828a2 2 0 0 0-1.414.586l-2.202 2.202A.71.71 0 0 1 2 21.286V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2z"/>
                                                        <path d="M10 15h4"/>
                                                        <path d="M10 9h4"/>
                                                        <path d="M12 7v4"/>
                                                    </svg>
                                                    <span class="pointer-events-none absolute bottom-full mb-2 left-1/2 -translate-x-1/2 scale-0 group-hover:scale-100 transition-all duration-200 bg-black text-white text-xs px-2 py-1  whitespace-nowrap z-50">
                                                        Generar codigo
                                                    </span>
                                                </button>
                                            </form>
                                            <!-- ========================= -->
                                            <!-- ESTADO DEL CÓDIGO -->
                                            <!-- ========================= -->

                                            <!-- ERROR -->
                                            <div th:if="${errorCodigo != null and propietarioCodigoId == prop.id}"
                                                 class="bg-red-100 text-red-800 text-xs font-semibold px-3 py-1 rounded">
                                                <span th:text="${errorCodigo}"></span>
                                            </div>

                                            <!-- CÓDIGO GENERADO -->
                                            <div th:if="${codigoGenerado != null and propietarioCodigoId == prop.id}"
                                                 class="bg-green-100 text-green-800 text-xs font-semibold px-3 py-1 rounded">
                                                Código:
                                                <span th:text="${codigoGenerado}" class="tracking-widest"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- PAGINACIÓN -->
                            <div th:if="${!#lists.isEmpty(propietarios)}"
                                 class="flex justify-center items-center gap-2 mt-6">

                                <!-- Anterior -->
                                <a th:if="${currentPage > 0}"
                                   th:href="@{/veterinario/index(page=${currentPage - 1})}"
                                   class="px-3 py-1 bg-gray-200  hover:bg-gray-300 transition">
                                    «
                                </a>

                                <!-- Números -->
                                <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                                    <a th:href="@{/veterinario/index(page=${i})}"
                                       th:text="${i + 1}" class="px-3 py-1  transition"
                                       th:classappend="${i == currentPage}? 'bg-secondary text-white font-bold': 'bg-gray-200 hover:bg-gray-300'"></a>
                                </span>

                                <!-- Siguiente -->
                                <a th:if="${currentPage < totalPages - 1}"
                                   th:href="@{/veterinario/index(page=${currentPage + 1})}"
                                   class="px-3 py-1 bg-gray-200  hover:bg-gray-300 transition">
                                    »
                                </a>
                            </div>
                        </div>
                    </div>
            </section>
            </main>
            <!-- Footer -->
            <footer class=" text-center text-sm text-primary py-3">
                © 2025 Cannia Todos los derechos reservados.
            </footer>
        </div>
    </div>
</div>
<!-- MODAL REGISTRAR PROPIETARIO -->
<div id="modalPropietario" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-lightSurface w-full  max-w-md  shadow-lg p-6 relative">
        <h3 class="text-lg font-bold text-center text-secondary mb-4">Registrar Propietario</h3>
        <form th:action="@{/veterinario/nuevo}" method="post" th:object="${propietario}" class="space-y-4">
            <div>
                <label class="block text-sm font-semibold text-softText">Numero de Documento</label>
                <input type="text"

                       th:field="*{numDoc}" class="w-full border border-borderLight  px-3 py-2 " required>
            </div>
            <div>
                <label class="block text-sm font-semibold text-softText">Nombre</label>
                <input type="text" th:field="*{nombrePro}" class="w-full border border-borderLight  px-3 py-2 " required>
            </div>
            <div>
                <label class="block text-sm font-semibold text-softText">Apellido</label>
                <input type="text" th:field="*{apellidoPro}" class="w-full  border-borderLight  px-3 py-2 " required>
            </div>
            <div>
                <label class="block text-sm font-semibold text-softText">Direccion</label>
                <input type="text" th:field="*{direccionPro}" class="w-full  border-borderLight  px-3 py-2 " required>
            </div>
            <div>
                <label class="block text-sm font-semibold text-softText">Teléfono</label>
                <input type="text"
                       inputmode="numeric"
                       pattern="[0-9]{10}"
                       th:field="*{telefonoPro}"  class="w-full  border-borderLight  px-3 py-2 " required>
            </div>
            <div>
                <label class="block text-sm font-semibold text-softText">Correo</label>
                <input type="email"   pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                       title="Ingresa un correo válido (ej: usuario@correo.com)"
                       th:field="*{correoPro}" class="w-full  border-borderLight  px-3 py-2 " required>
            </div>
            <div class="flex justify-center space-x-3 pt-4">
                <button type="button" onclick="toggleModal('modalPropietario')" class="bg-secondary text-white px-4 py-2  hover:bg-lightSurface hover:shadow-xl hover:text-primary font-bold transition">Cancelar</button>
                <button type="submit" class="bg-secondary text-white px-4 py-2  hover:bg-lightSurface hover:shadow-xl hover:text-primary font-bold transition">Guardar</button>
            </div>
        </form>
        <button onclick="toggleModal('modalPropietario')" class="absolute top-3 right-3 text-softText hover:text-primary">
            <span class="material-icons text-lg">close</span>
        </button>
    </div>
</div>
<!-- MODAL REGISTRAR MASCOTA -->
<div th:each="prop : ${propietarios}" >
    <div id="modalMascota" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
        <div class="bg-lightSurface w-full max-w-md  shadow-lg p-6 relative">
            <h3 class="text-lg font-bold text-center text-secondary mb-4">Registrar Mascota</h3>
            <form th:action="@{/veterinario/nuevom}" method="post" th:object="${mascota}"  class="space-y-4">

                <input type="hidden" name="propietarioId" id="propietarioId">
                <div>
                    <label class="block text-sm font-semibold text-softText">Nombre</label>
                    <input type="text" th:field ="*{nomMascota}" class="w-full border border-borderLight  px-3 py-2 focus:ring-2 focus:ring-primary focus:outline-none" required>
            </div>
            <div>
                <label class="block text-sm font-semibold text-softText">Especie</label>
                <input type="text" th:field ="*{especie}" class="w-full border border-borderLight  px-3 py-2 focus:ring-2 focus:ring-primary focus:outline-none" required>
            </div>
            <div>
                <label class="block text-sm font-semibold text-softText">Raza</label>
                <input type="text" th:field ="*{raza}"  class="w-full border border-borderLight  px-3 py-2 focus:ring-2 focus:ring-primary focus:outline-none" min="0" required>
            </div>
            <div>
                <label class="block text-sm font-semibold text-softText">Color</label>
                <input type="text" th:field ="*{color}"  class="w-full border border-borderLight  px-3 py-2 focus:ring-2 focus:ring-primary focus:outline-none" min="0" required>
            </div>
            <div>
                <label class="block text-sm font-semibold text-softText">Fecha de nacimiento</label>
                <input type="date" th:field ="*{fechaNacimiento}"  th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" class="w-full border border-borderLight  px-3 py-2 focus:ring-2 focus:ring-primary focus:outline-none" min="0" required>
            </div>
            <div>
                <label class="block text-sm font-semibold text-softText">Genero</label>
                <select th:field ="*{genero}" class="w-full border border-borderLight  px-3 py-2 focus:ring-2 focus:ring-primary focus:outline-none" required>
                    <option th:value="HEMBRA">Hembra</option>
                    <option th:value="MACHO">Macho</option>
                </select>
            </div>

            <div class="flex justify-center space-x-3 pt-4">
                <button type="button" onclick="toggleModal('modalMascota')"
                        class="bg-secondary text-white px-4 py-2  hover:bg-lightSurface hover:shadow-xl hover:text-primary font-bold transition">
                    Cancelar
                </button>
                <button type="submit"
                        class="bg-secondary text-white px-4 py-2  hover:bg-lightSurface hover:shadow-xl hover:text-primary font-bold transition">
                    Guardar
                </button>
            </div>
        </form>
            <button onclick="toggleModal('modalMascota')" class="absolute top-3 right-3 text-softText hover:text-primary">
                <span class="material-icons text-lg">close</span>
            </button>
        </div>
    </div>
</div>
<script>
//SIDEBAR
function toggleSidebar() {
    const sidebar = document.getElementById("sidebar");
    const texts = document.querySelectorAll(".sidebar-text");

    sidebar.classList.toggle("w-64");

    texts.forEach(t => {
        if (sidebar.classList.contains("w-64")) {
            t.classList.remove("hidden");
        } else {
            t.classList.add("hidden");
        }
    });
}

        function toggleModal(id) {
        const modal = document.getElementById(id);
        modal.classList.toggle("hidden");
    }

        // Vincular botones del dashboard
        document.querySelectorAll("button").forEach(btn => {
        if (btn.textContent.includes("Agregar Propietario")) {
            btn.addEventListener("click", () => toggleModal('modalPropietario'));
        }
    });
        const modalMascota = document.getElementById('modalMascota');
        const inputPropietario = document.getElementById('propietarioId');

        function abrirModalMascota(idPropietario) {
        // Asigna el ID del propietario al input oculto
            inputPropietario.value = idPropietario;
        // Muestra el modal
            modalMascota.classList.remove('hidden');
    }
        function cerrarModalMascota() {
        modalMascota.classList.add('hidden');
    }

    // Opcional: cerrar modal al hacer clic fuera del contenido
    modalMascota.addEventListener('click', (e) => {
        if (e.target === modalMascota) cerrarModalMascota();
    });
</script>
</body>
</html>
