<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Producto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <!-- Bootstrap CSS -->
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: "#170022",
                        secondary: "#170022",
                        lightBg: "#e8ebff",
                        lightSurface: "#f7f8f9",
                        darkText: "#1e293b",
                        softText: "#475569",
                        borderLight: "#e2e8f0",
                    },
                },
            },
        };
    </script>

    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }

        .tab-active {
            border-bottom: 3px solid #170022;
        }

        .tab-btn {
            transition: all 0.2s ease-in-out;
        }
    </style>
</head>
<body class="bg-lightBg text-darkText min-h-screen flex flex-col">
<header class="bg-secondary text-white flex justify-between items-center px-2 py-1 shadow-md">
    <div class="flex items-center space-x-3">
        <img src="/img/logo.png" alt="Logo" class="w-8 h-8">
        <h1 class="text-lg font-bold">Cannia</h1>
    </div>
    <a th:href="@{/inventario/productos}">
        <button class="text-sm hover:font-bold">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="lucide lucide-house-icon lucide-house"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/>
                <path d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
            </svg>
        </button>
    </a>
</header>
<main class="flex-1 flex items-center justify-center py-10">
    <div class="bg-lightSurface w-full max-w-md  shadow-lg p-6 relative">
    <h2 class="text-2xl flex justify-center flex text-center text-secondary font-extrabold">
        Editar Producto
    </h2>
    <form th:action="@{/inventario/productos/actualizar}"
          th:object="${producto}"
          method="post"
          enctype="multipart/form-data"
          class="space-y-4">

        <input type="hidden" th:field="*{id}">

        <div class="form-group">
            <label>Foto actual</label><br>
            <img th:if="${producto.fotoBase64 != null}"
                 th:src="'data:image/jpeg;base64,' + ${producto.fotoBase64}"
                 style="width:120px;height:120px;border-radius:8px;">
        </div>

        <div class="form-group">
            <label class="block text-sm font-semibold text-softText">Cambiar foto</label>
            <input type="file" name="archivoImagen" class="w-full border border-borderLight px-3 py-2" accept="image/*">
        </div>

        <div class="form-group">
            <label class="block text-sm font-semibold text-softText">Nombre</label>
            <input type="text" th:field="*{nombre}" class="w-full border border-borderLight px-3 py-2" required>
        </div>

        <div class="form-group">
            <label class="block text-sm font-semibold text-softText">Descripción</label>
            <input type="text" th:field="*{descripcion}" class="w-full border border-borderLight px-3 py-2" required>
        </div>

        <div class="form-group">
            <label class="block text-sm font-semibold text-softText">Cantidad</label>
            <input type="number" th:field="*{cantidad}" min="0" class="w-full border border-borderLight px-3 py-2" required>
        </div>

        <div class="form-group">
            <label class="block text-sm font-semibold text-softText">Valor</label>
            <input type="number" th:field="*{valor}" min="0" step="0.01" class="w-full border border-borderLight px-3 py-2" required>
        </div>

        <div class="form-group">
            <label class="block text-sm font-semibold text-softText">Unidad de Medida</label>
            <select th:field="*{unidadMedida}" class="w-full border border-borderLight px-3 py-2">
                <option value="Kg">Kg</option>
                <option value="g">g</option>
                <option value="l">l</option>
                <option value="mL">mL</option>
            </select>
        </div>

        <!-- ESTADO CON PUNTO EDITABLE -->
        <div class="form-group toggle-container">
            <label class="block text-sm font-semibold text-softText">Estado</label>

            <!-- Punto visible -->
            <span id="estadoDot"
                  th:classappend="${producto.estado} ? 'estado-dot on' : 'estado-dot off'">
            </span>

            <!-- Checkbox que sí se envía -->
            <input type="checkbox" id="estadoCheck" th:field="*{estado}" >
        </div>
        <div class="flex justify-center space-x-3 pt-4">
        <button type="submit"
                class="bg-secondary text-white px-4 py-2  hover:bg-lightSurface hover:shadow-xl hover:text-primary font-bold transition">
            Guardar Cambios
        </button>
        <a th:href="@{/inventario/productos}"
           class="bg-secondary text-white px-4 py-2  hover:bg-lightSurface hover:shadow-xl hover:text-primary font-bold transition">
            Cancelar
        </a>
    </div>
    </form>
    </div>

</main>
</body>
</html>
