<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Propietario</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/dist/output.css}" rel="stylesheet">
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: "#350159",
                        secondary: "#170022",
                        lightBg: "#e8ebff",
                        lightSurface: "rgb(247,248,249)",
                        darkText: "#1e293b",
                        softText: "#475569",
                        borderLight: "#e2e8f0",
                    },
                },
            },
        };
    </script>

    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }

        .tab-active {
            border-bottom: 3px solid #170022;
        }

        .tab-btn {
            transition: all 0.2s ease-in-out;
        }
    </style>
</head>
<body class="bg-lightBg text-darkText h-screen overflow-x-hidden">
<div class="h-full flex">
    <div class="flex flex-1  relative">
        <!-- SIDEBAR -->
        <aside id="sidebar" class="bg-secondary text-white  transition-all duration-300 h-full flex flex-col justify-between ">
            <div>
                <!-- Header + botón -->
                <div class="flex items-center justify-between p-3">
                    <span class="text-xl font-bold whitespace-nowrap hidden sidebar-text">Menu</span>
                    <button onclick="toggleSidebar()" class="text-white group relative">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="lucide lucide-circle-chevron-right-icon lucide-circle-chevron-right"><circle cx="12" cy="12" r="10"/>
                            <path d="m10 8 4 4-4 4"/>
                        </svg>
                        <span class="pointer-events-none absolute left-full ml-2  bg-black px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100 whitespace-nowrap z-50">
                            Menu
                        </span>
                    </button>
                </div>


                <button onclick="mostrarVista('Inicio')"
                        class=" group relative flex items-center gap-3 px-3 text-white py-1 hover:bg-primary ">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="lucide lucide-album-icon lucide-album">
                        <rect width="18" height="18" x="3" y="3" rx="2" ry="2"/>
                        <polyline
                                points="11 3 11 11 14 8 17 11 17 3"/>
                    </svg>
                    <span class="sidebar-text hidden">Inicio</span>
                    <span class="pointer-events-none absolute left-full ml-2  bg-black px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100 whitespace-nowrap z-50">
                            Inicio
                        </span>
                </button>
                <button onclick="mostrarVista('Mascotas')"
                        class=" group relative flex items-center gap-3 px-3 text-white py-1 hover:bg-primary ">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="lucide lucide-bone-icon lucide-bone">
                        <path d="M17 10c.7-.7 1.69 0 2.5 0a2.5 2.5 0 1 0 0-5 .5.5 0 0 1-.5-.5 2.5 2.5 0 1 0-5 0c0 .81.7 1.8 0 2.5l-7 7c-.7.7-1.69 0-2.5 0a2.5 2.5 0 0 0 0 5c.28 0 .5.22.5.5a2.5 2.5 0 1 0 5 0c0-.81-.7-1.8 0-2.5Z"/>
                    </svg>
                    <span class="sidebar-text hidden">Mascotas</span>
                    <span class="pointer-events-none absolute left-full ml-2  bg-black px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100 whitespace-nowrap z-50">
                            Mascotas
                        </span>
                </button>
                <nav class="flex flex-col gap-1">
                    <a href="#" onclick="abrirModalMascota(event)"
                       class=" group relative flex items-center gap-3 px-3 py-1 hover:bg-primary">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             class="lucide lucide-cat-icon lucide-cat">
                            <path d="M12 5c.67 0 1.35.09 2 .26 1.78-2 5.03-2.84 6.42-2.26 1.4.58-.42 7-.42 7 .57 1.07 1 2.24 1 3.44C21 17.9 16.97 21 12 21s-9-3-9-7.56c0-1.25.5-2.4 1-3.44 0 0-1.89-6.42-.5-7 1.39-.58 4.72.23 6.5 2.23A9.04 9.04 0 0 1 12 5Z"/>
                            <path d="M8 14v.5"/>
                            <path d="M16 14v.5"/>
                            <path d="M11.25 16.25h1.5L12 17l-.75-.75Z"/>
                        </svg>
                        <span class="sidebar-text hidden">Agregar Mascotas</span>
                        <span class="pointer-events-none absolute left-full ml-2  bg-black px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100 whitespace-nowrap z-50">
                            Agregar Mascota
                        </span>
                    </a>
                    <a href="#" onclick="mostrarVista('Historia')"
                       class=" group relative flex items-center gap-3 px-3 py-1 hover:bg-primary ">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round" class="lucide lucide-hospital-icon lucide-hospital">
                            <path d="M12 7v4"/>
                            <path d="M14 21v-3a2 2 0 0 0-4 0v3"/>
                            <path d="M14 9h-4"/>
                            <path d="M18 11h2a2 2 0 0 1 2 2v6a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-9a2 2 0 0 1 2-2h2"/>
                            <path d="M18 21V5a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v16"/>
                        </svg>
                        <span class="sidebar-text hidden">Historia Clinica</span>
                        <span class="pointer-events-none absolute left-full ml-2  bg-black px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100 whitespace-nowrap z-50">
                            Historia Clinica
                        </span>
                    </a>
                    <a th:href="@{/tienda/propietario/tienda}"
                       class=" group relative flex items-center gap-3 px-3 py-1 hover:bg-primary ">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             class="lucide lucide-store-icon lucide-store">
                            <path d="M15 21v-5a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v5"/>
                            <path d="M17.774 10.31a1.12 1.12 0 0 0-1.549 0 2.5 2.5 0 0 1-3.451 0 1.12 1.12 0 0 0-1.548 0 2.5 2.5 0 0 1-3.452 0 1.12 1.12 0 0 0-1.549 0 2.5 2.5 0 0 1-3.77-3.248l2.889-4.184A2 2 0 0 1 7 2h10a2 2 0 0 1 1.653.873l2.895 4.192a2.5 2.5 0 0 1-3.774 3.244"/>
                            <path d="M4 10.95V19a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8.05"/>
                        </svg>
                        <span class="sidebar-text hidden">Tienda</span>
                        <span class="pointer-events-none absolute left-full ml-2  bg-black px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100 whitespace-nowrap z-50">
                            Tienda
                        </span>
                    </a>
                    <a href="#"
                       class=" group relative flex items-center gap-3 px-3 text-white py-1 hover:bg-primary ">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             class="lucide lucide-heart-plus-icon lucide-heart-plus">
                            <path d="m14.479 19.374-.971.939a2 2 0 0 1-3 .019L5 15c-1.5-1.5-3-3.2-3-5.5a5.5 5.5 0 0 1 9.591-3.676.56.56 0 0 0 .818 0A5.49 5.49 0 0 1 22 9.5a5.2 5.2 0 0 1-.219 1.49"/>
                            <path d="M15 15h6"/>
                            <path d="M18 12v6"/>
                        </svg>
                        <span class="sidebar-text hidden">Adoptar</span>
                        <span class="pointer-events-none absolute left-full ml-2  bg-black px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100 whitespace-nowrap z-50">
                            Adoptar
                        </span>
                    </a>

                </nav>
            </div>

            <!-- Bloque inferior  -->
            <div class="mb-6">
                <nav class="flex flex-col gap-4">
                    <a th:href="@{/cerrar-sesion}"
                       class=" group relative flex items-center text-white gap-3 px-3 py-1 hover:bg-primary ">
                        <i class="fa-solid fa-circle-info">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="lucide lucide-log-out-icon lucide-log-out">
                                <path d="m16 17 5-5-5-5"/>
                                <path d="M21 12H9"/>
                                <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/>
                            </svg>
                        </i>
                        <span class="sidebar-text hidden">Cerrar Sesion</span>
                        <span class="pointer-events-none absolute left-full ml-2  bg-black px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100 whitespace-nowrap z-50">
                            Cerrar Sesion
                        </span>
                    </a>
                </nav>
            </div>
        </aside>
        <div class="flex flex-col flex-1 h-full transition-all duration-300">
            <!-- Header -->
            <header class="bg-secondary text-white flex justify-between items-center px-2 py-1 shadow-md overflow-visible">
                <div class="flex items-center space-x-3">
                    <h1 class="text-lg font-bold">Cannia</h1>
                </div>
                <!--                <div>-->
                <!--                    <h1 class="text-3xl font-bold text-white">-->
                <!--                        Bienvenido -->
                <!--                    </h1>-->
                <!--                </div>-->
                <div class="flex items-center space-x-3 gap-8">
                    <img src="/img/logo.png" alt="Logo" class="w-10 h-10">
                </div>
            </header>
            <main class="flex-1 overflow-y-auto px-6 py-8">
                <section id="vista-Inicio"
                         class="max-w-7xl mx-auto px-6 py-12 h-full flex flex-col justify-center">
                    <!-- FRASE PRINCIPAL -->
                    <div class="max-w-4xl">
                        <h2 class="text-[4.2rem] leading-[1.05] font-extrabold text-secondary">
                         Hola   <span th:text="${propietario.nombrePro}">
                        </span>
                            El cuidado de tus mascotas,
                            <span class="block text-primary"> en un solo lugar.</span>
                        </h2>
                        <p class="mt-4 text-lg text-softText max-w-2xl">
                            Gestiona la información de tus mascotas, su historia clínica
                            y los servicios disponibles en Cannia de forma simple.
                        </p>
                    </div>
                    <!-- RESUMEN -->
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-10">
                        <!-- MASCOTAS -->
                        <div class="bg-white p-4 shadow-sm">
                            <p class="text-sm text-softText">Mascotas</p>
                            <p class="text-2xl font-semibold"
                               th:text="${mascotas.size()}">0</p>
                        </div>
                        <!-- HISTORIAS -->
                        <div class="bg-white p-4 shadow-sm">
                            <p class="text-sm text-softText">Historias clínicas</p>
                            <p class="text-2xl font-semibold"
                               th:text="${mascotas.size()}">0</p>
                        </div>
                        <!-- TIENDA -->
                        <div class="bg-white p-4 shadow-sm">
                            <p class="text-sm text-softText">Tienda</p>
                            <p class="text-sm font-medium text-primary">
                                Disponible
                            </p>
                        </div>
                    </div>
                    <!-- ACCIÓN PRINCIPAL (CONTEXTO) -->
                    <div class="mt-12">
                        <!-- SIN MASCOTAS -->
                        <div th:if="${mascotas.isEmpty()}"
                             class="bg-lightSurface border border-borderLight p-6">
                            <p class="font-semibold">
                                Aún no tienes mascotas registradas
                            </p>
                            <p class="text-sm text-softText mt-1">
                                Registra tu primera mascota para comenzar a usar todos los servicios.
                            </p>
                            <button onclick="abrirModalMascota(event)"
                                    class="mt-4 bg-primary text-white px-5 py-2 hover:bg-secondary transition">
                                Registrar mi primera mascota
                            </button>
                        </div>
                        <!-- CON MASCOTAS -->
                        <div th:if="${!mascotas.isEmpty()}"
                             class="bg-lightSurface border border-borderLight p-6">

                            <p class="font-semibold">
                                Todo listo
                            </p>
                            <p class="text-sm text-softText mt-1">
                                Usa el menú lateral para gestionar tus mascotas, revisar su historia clínica
                                o acceder a la tienda Cannia.
                            </p>
                        </div>
                    </div>
                    <p class="mt-16 text-xs text-softText text-center">
                        Cannia · Plataforma para el cuidado y bienestar de tus mascotas
                    </p>
                </section>
                <section id="vista-Mascotas" class="hidden">
                    <div class="items-center ">
                        <div class="max-w-6xl  text-gray-800 mx-auto mt-10 px-4">
                            <h2 class="text-3xl font-bold mb-8 text-center">
                                Mis Mascotas
                            </h2>
                            <!-- SIN MASCOTAS -->
                            <div th:if="${mascotas.isEmpty()}"
                                 class="text-center text-gray-500">
                                No tienes mascotas registradas.
                            </div>
                            <!-- GRID DE CARDS -->
                            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                                <div th:each="m : ${mascotas}"
                                     class="bg-white -2xl shadow hover:shadow-lg transition p-6">
                                    <!-- FOTO -->
                                    <img th:if="${m.foto != null && !m.foto.isEmpty()}"
                                         th:src="${m.foto}"
                                         class="w-full h-40 object-cover -lg mb-4"/>
                                    <img th:if="${m.foto == null || m.foto.isEmpty()}"
                                         src="/img/mascota-default.png"
                                         class="w-full h-40 object-cover -lg mb-4"/>
                                    <!-- INFO -->
                                    <h3 class="text-xl font-bold mb-1" th:text="${m.nomMascota}"></h3>
                                    <p class="text-gray-600">
                                        <span th:text="${m.especie}"></span> ·
                                        <span th:text="${m.raza}"></span>
                                    </p>
                                    <p class="text-gray-500 text-sm">
                                        Género: <span th:text="${m.genero}"></span>
                                    </p>
                                    <!-- ACCIONES -->
                                    <div class="mt-4 flex justify-end">
                                        <button
                                                class="bg-primary hover:bg-secondary text-white px-4 py-2 transition"
                                                th:attr="onclick=|abrirModalEdicion(
                                                 ${m.id},
                                                '${m.nomMascota}',
                                                '${m.especie}',
                                                '${m.raza}',
                                                '${m.color}',
                                                '${m.genero}')|"
                                        >
                                            Editar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="vista-Historia" class="hidden">
                    <div class="max-w-6xl mx-auto mt-4 space-y-6">
                        <h2 class="text-3xl font-bold text-center text-secondary">
                            Historia Clínica de tus Mascotas
                        </h2>
                        <!-- SIN MASCOTAS -->
                        <div th:if="${mascotas.isEmpty()}"
                             class="text-center text-softText">
                            No tienes mascotas registradas.
                        </div>
                        <!-- HISTORIA POR CADA MASCOTA -->
                        <div th:each="m : ${mascotas}"
                             class="bg-white shadow p-8 space-y-2">
                            <!-- HEADER MASCOTA -->
                            <div class="flex flex-col md:flex-row md:items-center md:justify-center gap-4">
                                <div>
                                    <h3 class="text-2xl justify-center flex font-bold">
                                        <span th:text="${m.nomMascota}"></span>
                                    </h3>
                                    <p class="text-softText">
                                        <span th:text="${m.especie}"></span> ·
                                        <span th:text="${m.raza}"></span> ·
                                        <span th:text="${m.genero}"></span>
                                    </p>
                                </div>
                            </div>
                            <!-- TABLA HISTORIA CLÍNICA -->
                            <div class="overflow-x-auto">
                                <table class="min-w-full border border-borderLight">
                                    <thead class="bg-lightSurface">
                                    <tr>
                                        <th class="py-2 px-3 text-left">Fecha</th>
                                        <th class="py-2 px-3 text-left">Diagnóstico</th>
                                        <th class="py-2 px-3 text-left">Tratamiento</th>
                                        <th class="py-2 px-3 text-left">Peso</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- CON HISTORIA -->
                                    <tr th:each="h : ${m.historiasClinicas}"
                                        class="border-t">
                                        <td class="py-2 px-3"
                                            th:text="${#temporals.format(h.fechaHora, 'dd/MM/yyyy HH:mm')}">
                                        </td>
                                        <td class="py-2 px-3"
                                            th:text="${h.diagnostico}">
                                        </td>
                                        <td class="py-2 px-3"
                                            th:text="${h.tratamiento}">
                                        </td>
                                        <td class="py-2 px-3"
                                            th:text="${h.peso}">
                                        </td>
                                    </tr>
                                    <!-- SIN HISTORIA -->
                                    <tr th:if="${m.historiasClinicas.isEmpty()}">
                                        <td colspan="4"
                                            class="py-4 text-center text-softText">
                                            Esta mascota no tiene historia clínica registrada.
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mt-10">
                                <h4 class="text-xl font-semibold justify-center mb-4 flex items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-syringe-icon lucide-syringe"><path d="m18 2 4 4"/><path d="m17 7 3-3"/><path d="M19 9 8.7 19.3c-1 1-2.5 1-3.4 0l-.6-.6c-1-1-1-2.5 0-3.4L15 5"/><path d="m9 11 4 4"/><path d="m5 19-3 3"/><path d="m14 4 6 6"/></svg>
                                    Vacunas
                                </h4>

                                <div class="overflow-x-auto">

                                    <table class="min-w-full border border-borderLight bg-white">

                                        <thead class="bg-lightSurface">
                                        <tr>
                                            <th class="py-2 px-3 text-left">Lote</th>
                                            <th class="py-2 px-3 text-left">Aplicación</th>
                                            <th class="py-2 px-3 text-left">Refuerzo</th>
                                            <th class="py-2 px-3 text-left">Vencimiento</th>
                                            <th class="py-2 px-3 text-left">Laboratorio</th>
                                        </tr>
                                        </thead>

                                        <tbody>

                                        <!-- CON VACUNAS -->
                                        <tr th:each="v : ${m.vacunas}"
                                            class="border-t hover:bg-lightSurface transition">

                                            <td class="py-2 px-3"
                                                th:text="${v.Lote}">
                                            </td>

                                            <td class="py-2 px-3"
                                                th:text="${#temporals.format(v.FechaAplicacion, 'dd/MM/yyyy')}">
                                            </td>

                                            <td class="py-2 px-3"
                                                th:text="${#temporals.format(v.FechaRefuerzo, 'dd/MM/yyyy')}">
                                            </td>

                                            <td class="py-2 px-3"
                                                th:text="${#temporals.format(v.FechaVencimiento, 'dd/MM/yyyy')}">
                                            </td>

                                            <td class="py-2 px-3"
                                                th:text="${v.laboratorio}">
                                            </td>

                                        </tr>

                                        <!-- SIN VACUNAS -->
                                        <tr th:if="${m.vacunas == null || m.vacunas.isEmpty()}">
                                            <td colspan="5"
                                                class="py-4 text-center text-softText">
                                                No hay vacunas registradas para esta mascota.
                                            </td>
                                        </tr>

                                        </tbody>

                                    </table>

                                </div>

                            </div>
                        </div>

                    </div>
                </section>
            </main>
            <footer class="text-center text-sm text-primary py-3 w-full ">
                © 2025 Cannia Todos los derechos reservados.
            </footer>
        </div>
    </div>
</div>
<!-- ================= MODAL ================= -->
<div id="modalHistoria"
     class="fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center z-50">

    <div class="bg-white -2xl shadow-xl w-11/12 max-w-4xl p-6 relative">

        <!-- Botón cerrar -->
        <button onclick="cerrarModal('modalHistoria')"
                class="absolute top-4 right-4 text-gray-500 hover:text-black text-2xl">
            ✕
        </button>

        <h3 id="modalTitulo" class="text-2xl font-bold mb-4"></h3>

        <!-- Contenido dinámico -->
        <div id="contenidoHistoria" class="overflow-y-auto max-h-[60vh]">
            <p class="text-center text-gray-500">Cargando historia clínica...</p>
        </div>

    </div>
</div>

<div id="modalAgregarMascota"
     class="hidden fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">

    <div class="modal-content bg-white p-4 -2xl shadow-xl w-96">

        <h2 class="text-2xl  font-extrabold mb-8 text-center text-primary-700">
            Registrar Mascota
        </h2>

        <!-- FORMULARIO -->
        <form th:action="@{/propietario/guardar}" method="post">

            <label class="block mb-2 font-semibold">Nombre</label>
            <input type="text" name="nomMascota" required
                   class="w-full p-2 border border-primary-300  mb-3"/>

            <label class="block mb-2 font-semibold">Especie</label>
            <input type="text" name="especie" required
                   class="w-full p-2 border border-primary-300  mb-3"/>

            <label class="block mb-2 font-semibold">Raza</label>
            <input type="text" name="raza" required
                   class="w-full p-2 border border-primary-300  mb-3"/>

            <label class="block mb-2 font-semibold">Color</label>
            <input type="text" name="color" required
                   class="w-full p-2 border border-primary-300  mb-3"/>

            <label class="block mb-2 font-semibold">Género</label>
            <select name="genero" required
                    class="w-full p-2 border border-primary-300  mb-3">
                <option value="MACHO">MACHO</option>
                <option value="HEMBRA">HEMBRA</option>
            </select>

            <!-- MASCOTA CREADA POR PROPIETARIO = PROPIA -->
            <input type="hidden" name="tipoEstado" value="PROPIA">

            <label class="block mb-2 font-semibold">Fecha de nacimiento</label>
            <input type="date" name="fechaNacimiento" required
                   th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                   class="w-full p-2 border border-primary-300  mb-3"/>

            <div class="flex justify-center pt-2 space-x-2">
                <button type="button" onclick="cerrarModal('modalAgregarMascota')"
                        class="bg-secondary text-white px-4 py-2  hover:bg-lightSurface hover:shadow-xl hover:text-primary font-bold transition">
                    Cancelar
                </button>

                <button type="submit"
                        class="bg-secondary text-white px-4 py-2  hover:bg-lightSurface hover:shadow-xl hover:text-primary font-bold transition">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>


<!-- ================= MODAL EDITAR ================= -->
<div id="modalEditar" class=" fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center z-50">

    <div class=" modal-content bg-white -2xl shadow-xl w-11/12 max-w-lg p-6 relative">

        <!-- CERRAR -->
        <button onclick="cerrarModal('modalEditar')"
                class="absolute top-4 right-4 text-gray-500 hover:text-black text-2xl">
            ✕
        </button>

        <h3 class="text-2xl font-bold mb-4">Editar Mascota</h3>

        <!-- FORM -->
        <form th:action="@{/mascotas/editar}" method="post" class="space-y-4">

            <input type="hidden" name="id" id="idMascota">

            <div>
                <label class="block text-sm font-medium">Nombre</label>
                <input type="text" name="nomMascota" id="nomMascota"
                       class="w-full border -lg px-3 py-2" required>
            </div>

            <div>
                <label class="block text-sm font-medium">Especie</label>
                <input type="text" name="especie" id="especie"
                       class="w-full border -lg px-3 py-2" required>
            </div>

            <div>
                <label class="block text-sm font-medium">Raza</label>
                <input type="text" name="raza" id="raza"
                       class="w-full border -lg px-3 py-2">
            </div>

            <div>
                <label class="block text-sm font-medium">Color</label>
                <input type="text" name="color" id="color"
                       class="w-full border -lg px-3 py-2">
            </div>

            <div>
                <label class="block text-sm font-medium">Género</label>
                <select name="genero" id="genero"
                        class="w-full border -lg px-3 py-2">
                    <option value="MACHO">MACHO</option>
                    <option value="HEMBRA">HEMBRA</option>
                </select>
            </div>

            <div class="flex justify-center gap-3 pt-4">
                <button type="button" onclick="cerrarModal('modalEditar')"
                        class="bg-secondary text-white px-4 py-2  hover:bg-lightSurface hover:shadow-xl hover:text-primary font-bold transition">
                Cancelar
                </button>

                <button type="submit"
                        class="bg-secondary text-white px-4 py-2  hover:bg-lightSurface hover:shadow-xl hover:text-primary font-bold transition">
                Guardar cambios
                </button>
            </div>
        </form>
    </div>
</div>
</body>
<script th:inline="javascript">

    /* ===============================
       SIDEBAR
    =============================== */
    function toggleSidebar() {
        const sidebar = document.getElementById("sidebar");
        const texts = document.querySelectorAll(".sidebar-text");

        const expanded = sidebar.classList.toggle("w-64");
        sidebar.classList.toggle("w-12", !expanded);

        texts.forEach(t => t.classList.toggle("hidden", !expanded));
    }

    /* ===============================
                   VISTAS
    =============================== */
    function mostrarVista(vista) {
        document.querySelectorAll('[id^="vista-"]').forEach(v =>
            v.classList.add("hidden")
        );

        const activa = document.getElementById("vista-" + vista);
        if (activa) {
            activa.classList.remove("hidden");
        }
    }

    /* ===============================
       MODALES - CORE
    =============================== */
    function abrirModal(id) {
        const modal = document.getElementById(id);
        if (!modal) return;

        modal.classList.remove("hidden");
        modal.classList.add("flex");
    }

    function cerrarModal(id) {
        const modal = document.getElementById(id);
        if (!modal) return;

        modal.classList.add("hidden");
        modal.classList.remove("flex");

        // limpiar contenido dinámico si existe
        const contenido = modal.querySelector("#contenidoHistoria");
        if (contenido) contenido.innerHTML = '';
    }

    /* ===============================
       MODAL: AGREGAR MASCOTA
    =============================== */
    function abrirModalMascota(event) {
        if (event) event.preventDefault();
        abrirModal("modalAgregarMascota");
    }


    /* ===============================
       CERRAR MODAL AL CLICK FUERA
    =============================== */
    function inicializarModales() {
        document.querySelectorAll(".modal-content").forEach(content => {
            const modal = content.closest(".fixed");
            if (!modal) return;

            modal.addEventListener("click", e => {
                if (!content.contains(e.target)) {
                    cerrarModal(modal.id);
                }
            });
        });
    }

    /* ===============================
       INIT
    =============================== */
    document.addEventListener("DOMContentLoaded", () => {
        inicializarModales();
    });

    function abrirModalEdicion(id, nombre, especie, raza, color, genero) {
        document.getElementById('idMascota').value = id;
        document.getElementById('nomMascota').value = nombre;
        document.getElementById('especie').value = especie;
        document.getElementById('raza').value = raza;
        document.getElementById('color').value = color;
        document.getElementById('genero').value = genero;


        document.getElementById('modalEditar').classList.remove('hidden');
        document.getElementById('modalEditar').classList.add('flex');
    }
</script>
</html>
