<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Tienda de [[${veterinaria.nombre}]]</h1>

<div>
    <ul>
        <li th:each="item : ${productos}">
            <strong th:text="${item.producto.nombre}"></strong>
            <br>
            Precio: <span th:text="${item.PrecioVenta}"></span>
            <br>
            <button>Agregar al carrito</button>
            <hr>
        </li>
    </ul>
</div>

</body>
</html>